# uv add -r requirements.txt
langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
langchain-ollama
sentence-transformers
pypdf
python-dotenv
ipykernel
python-docx
docx2txt
ipywidgets
unstructured
pandas
openpyxl
jq
numpy
matplotlib
# Embeddings
langchain-huggingface
sentence-transformers